html:root {
    font-size: 10px;
    background-color: #e5e5e5;
}

/* font-family: 'Rosario', sans-serif; */
/* font-family: 'Volkhov', serif; */

body {
    margin: 0 auto;
    max-width: 162rem;
}


.menu {
    min-height: 7vh;
    max-height: 10vh;
    background-color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.logo {
    background-color: #FFFBFB;
    /* min-height: 10vh; */
    display: block;
    width: 18.5rem;
}

.menu-list {
    display: flex;

}

.item-li {
    margin-right: 3vw;
    padding-top: 2rem;
}

.menu-ref {
    text-decoration: none;
    color: #fffcfc;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3vh;
}

.page {
    min-height: 90vh;
    background-color: #FFFFFF;
    overflow: hidden;
}

.gallery {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}


.photo {
    width: 100%;
}

.third {
    /* width: 77%; */
    height: 48.4rem;
    position: relative;
    left: 11%;
}

.sec {
    position: relative;
    height: 30.8rem;
    padding-top: 3rem;
}

.first {
    /* width: 100%; */
    height: 35rem;
    position: relative;
    margin-top: 3rem;

}

.slide-left {
    position: relative;
    right: .6%;
    animation: slideLeft 1.5s linear 1;
}

.slide-right {
    position: relative;
    left: .6%;
    animation: slideRight 1.5s linear 1;
}


.slide-left-sec {
    animation: slideLeftSec 2s linear 1;
    position: relative;
}

.slide-right-sec {
    animation: slideRightSec 2s linear 1;
    position: relative;
}


.anima-inf>img {

    width: 30rem;
    position: relative;
}

.anima-inf {
    border: 1px solid #ffffff00;
    max-width: 30rem;
    position: relative;
    font-family: 'Rosario', sans-serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}



.services {
    display: flex;
    width: 100%;
    max-height: 102vh;
}

.circle-anima {
    width: 50%;
}

.hair {
    left: 7rem;
    top: 12rem;
    animation: hairSpin 20s linear infinite;
}

.beard {
    left: 44rem;
    top: -23.4rem;
    animation: beardSpin 20s linear infinite;
}

.shave {
    left: 7rem;
    top: -19rem;
    animation: shaveSpin 20s linear infinite;
}

.straigh {
    left: 44rem;
    top: -54.4rem;
    animation: straighSpin 20s linear infinite;
}


.hairdresser {
    position: relative;
    left: 1rem;

}

.hairdresser>img {
    height: 91.8rem;
}

.team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team_title {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 8.3rem;
    text-align: center;
    margin-bottom: 7rem;
}

.team_card>img {
    height: 57.5rem;
}

.team_card {
    border: 1px solid transparent;
    position: relative;
}

p {
    height: 0rem;
    border-radius: 0 0 3.3rem 3.3rem;
    background-color: rgba(163, 83, 10, 0.7);
    font-family: 'Volkhov', serif;
    font-size: 4rem;
    color: #fffafa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3.8rem;
    width: 100%;
    overflow: hidden;
}

.team_card:hover>p {
    visibility: visible;
    transition: .5s;
}

.team:hover>div {
    filter: brightness(.5);
    transition: 1s;
}

.team>div:hover {
    filter: none;
}

.team>div:hover p {
    overflow: visible;
    height: 13.2rem;
    box-sizing: border-box;
}


.contact_sct {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.contact_form {
    border: 1px solid #e5e5e5;
    width: 7rem;
    height: 34rem;
    width: 79rem;
    background-color: #e5e5e5;
    margin-top: 1rem;

}

.map {
    width: 60rem;
    padding-top: 3rem;
}

.cont_title {
    width: 77rem;
    text-align: center;
}

.text {
    font-family: 'Rosario', sans-serif;
    font-size: 5.7rem;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    margin: 0;
}

input {
    margin-top: 3rem;
    height: 7rem;
    font-family: 'Rosario', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    border: none
}

input:nth-child(1) {
    width: 34%;
    padding-left: 2rem;

}

input:nth-child(2) {
    width: 50%;
    margin-left: 1rem;
    padding-left: 5rem;
}

textarea {
    width: 93.4%;
    margin-top: 3rem;
    height: 17rem;
    font-family: 'Rosario', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 0 0 2rem;
    border: none;
    resize: none;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 10rem;
}

.child1 {
    width: 42%;
    padding-top: 6rem;
    text-align: center;
}

.child1>a,
.child3>ul a {
    text-decoration: none;
    color: #000000;
}

.child2 {
    width: 29%;
    text-align: center;
}

.child3 {
    width: 26%;
    padding-top: 5rem;
    padding-left: 6rem;

}

.instagram {
    list-style-image: url(../image/pngwing\ 1.png);
    margin-left: -6px;
}

.facebook {
    list-style-image: url(../image/pngwing\ 2.png);
}

.twitter {
    list-style-image: url(../image/pngwing\ 3.png);
}

.footer_card {
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.3rem;

}


.footer_card>ul {
    padding-left: 7rem;
    margin-top: 2rem;
}

.footer_card:nth-child(1) {
    text-align: center;
}

.footer_card>span,
a>span,
ul {
    font-style: italic;
}

h5 {
    font-size: 3.2rem;
    font-weight: 700;
}

h4 {
    margin: 0;
}







@keyframes slideLeft {

    from,
    to {
        right: 50%;
    }

    20% {
        right: 40%;
    }

    40% {
        right: 30%;
    }

    60% {
        right: 20%;
    }

    80% {
        right: 10%;
    }

    100% {
        right: .6%;
    }
}


@keyframes slideRight {

    from,
    to {
        left: 50%;
    }

    20% {
        left: 40%;
    }

    40% {
        left: 30%;
    }

    60% {
        left: 20%;
    }

    80% {
        left: 10%;
    }

    100% {
        left: .6%;
    }
}


@keyframes slideLeftSec {

    from,
    to {
        right: 50%;
    }

    100% {
        right: 0%;
    }
}

@keyframes slideRightSec {

    from,
    to {
        left: 50%;
    }

    100% {
        left: 0%;
    }
}

@keyframes hairSpin {

    from,
    to {
        left: 7rem;
        top: 12rem;
    }

    25% {
        left: 44rem;
        top: 12rem;
    }

    50% {
        left: 44rem;
        top: 51.8rem;
    }

    75% {
        left: 7rem;
        top: 51.8rem;
    }
}

@keyframes beardSpin {

    from,
    to {
        left: 44rem;
        top: -23.4rem
    }

    25% {
        left: 44rem;
        top: 16.4rem;
    }

    50% {
        left: 7rem;
        top: 16.4rem;
    }

    75% {
        left: 7rem;
        top: -23.4rem;
    }
}

@keyframes shaveSpin {

    from,
    to {
        left: 7rem;
        top: -19rem;
    }

    25% {
        left: 7rem;
        top: -58.8rem;
        ;
    }

    50% {
        left: 44rem;
        top: -58.8rem;
    }

    75% {
        left: 44rem;
        top: -19rem;
    }
}

@keyframes straighSpin {

    from,
    to {
        left: 44rem;
        top: -54.4rem;
    }

    25% {
        left: 7rem;
        top: -54.4rem;
    }

    50% {
        left: 7rem;
        top: -94.2rem;
    }

    75% {
        left: 44rem;
        top: -94.2rem;

    }
}

@media screen and (max-width: 992px) {
    .page {
        min-height: 142vh;
    }

    .menu-ref {
        font-size: 2.5vh;
    }

    .services {
        min-height: 180vh;
        padding-top: 4rem;
    }

    .team_title {
        font-size: 5.7rem;
    }

    .teams {
        padding-top: 8rem;
        min-height: 100vh;
    }

    .item-li {
        margin-right: 2vw;
    }

    .slide-left,
    .slide-left-sec {
        position: relative;
        right: 35%;
        animation: slideLeft 1.5s linear 1;
        top: -34rem;
    }

    .slide-right,
    .slide-right-sec {
        position: relative;
        left: -28%;
        animation: slideRight 1.5s linear 1;
        top: -34rem;
    }

    .third {
        height: 62.4rem;
        position: relative;
        left: 100%;
        top: 71rem;
    }

    .mediaSlideRight {
        height: 62.4rem;
        position: relative;
        left: -102%;
    }

    .hairdresser {
        left: -22rem;
    }

    .hair {
        left: 14rem;
        top: 96rem;
        /* animation: hairSpin 20s linear infinite; */
    }

    .beard {
        left: 50rem;
        top: 60.6rem;
        /* animation: beardSpin 20s linear infinite; */
    }

    .shave {
        left: 14rem;
        top: 64rem;
        /* animation: shaveSpin 20s linear infinite; */
    }

    .straigh {
        left: 50rem;
        top: 28.6rem;
        /* animation: straighSpin 20s linear infinite; */
    }

    .team {
        flex-wrap: wrap;
    }

    .team_card {
        padding-bottom: 3rem;
    }

    p {
        bottom: -0.7rem;
    }

    .footer_card {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
        padding-top: 5.7rem;
    }

    .child3 {
        padding-top: 5.7rem;
    }

    @keyframes slideLeft {

        from,
        to {
            right: 85%;
        }

        20% {
            right: 75%;
        }

        40% {
            right: 65%;
        }

        60% {
            right: 55%;
        }

        80% {
            right: 45%;
        }

        100% {
            right: 35%;
        }
    }



    @keyframes slideRight {

        from,
        to {
            left: 35%;
        }

        20% {
            left: 25%;
        }

        40% {
            left: 15%;
        }

        60% {
            left: 0%;
        }

        80% {
            left: -12%;
        }

        100% {
            left: -28%;
        }
    }

    @keyframes hairSpin {

        from,
        to {
            left: 14rem;
            top: 96rem;
        }

        25% {
            left: 50rem;
            top: 96rem;
        }

        50% {
            left: 50rem;
            top: 134.8rem;
        }

        75% {
            left: 14rem;
            top: 134.8rem;
        }
    }

    @keyframes beardSpin {

        from,
        to {
            left: 50rem;
            top: 60.6rem;
        }

        25% {
            left: 50rem;
            top: 99.4rem;
        }

        50% {
            left: 14rem;
            top: 99.4rem;
        }

        75% {
            left: 14rem;
            top: 60.6rem;
        }
    }

    @keyframes shaveSpin {

        from,
        to {
            left: 14rem;
            top: 64rem;
        }

        25% {
            left: 14rem;
            top: 25.2rem;
            ;
        }

        50% {
            left: 50rem;
            top: 25.2rem;
        }

        75% {
            left: 50rem;
            top: 64rem;
        }
    }

    @keyframes straighSpin {

        from,
        to {
            left: 50rem;
            top: 28.6rem;
        }

        25% {
            left: 14rem;
            top: 28.6rem;
        }

        50% {
            left: 14rem;
            top: -10.2rem;
        }

        75% {
            left: 50rem;
            top: -10.2rem;

        }
    }
}

@media screen and (max-width: 768px) {

    .page {
        overflow: visible;
    }

    .item-li {
        margin-right: 1vw;
    }

    .team_title {
        padding-top: 50rem;
    }

    .team {
        flex-direction: column;
    }

    .menu-ref {
        font-size: 2vh;
    }

    .media768_left1 {
        position: relative;
        left: 5rem;
    }

    .media768_right1 {
        position: relative;
        top: 37rem;
        right: 40rem;
    }

    .media768_left2 {
        position: relative;
        top: 36rem;
        left: 5rem;
    }

    .media768_right2 {
        position: relative;
        top: 69rem;
        right: 40rem;
    }

    .media768_left3 {
        position: relative;
        left: 44.5rem;
        top: 139rem;
    }

    .media768_right3 {
        position: relative;
        left: -80rem;
        top: 204rem;
    }

    .hairdresser {
        display: none;
    }

    .hair {
        left: 6rem;
        top: 136rem;
        /* animation: hairSpin 20s linear infinite; */
    }

    .beard {
        left: 42rem;
        top: 100.4rem;
        /* animation: beardSpin 20s linear infinite; */
    }

    .shave {
        left: 6rem;
        top: 104rem;
        /* animation: shaveSpin 20s linear infinite; */
    }

    .straigh {
        left: 42rem;
        top: 68.5rem;
        /* animation: straighSpin 20s linear infinite; */
    }

    .team:not(:hover)>div {
        filter: brightness(.5);
        transition: 1s;
    }

    .team>div:not(:hover) {
        filter: none;
    }

    .team>div:not(:hover) p {
        overflow: visible;
        height: 13.2rem;
        box-sizing: border-box;
    }

    .team:active>div {
        filter: brightness(.5);
        transition: 1s;
    }

    .team>div:active {
        filter: none;
    }

    .team>div:active p {
        overflow: visible;
        height: 13.2rem;
        box-sizing: border-box;
    }

    .contact_sct {
        margin-top: 0rem;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    
.cont_title {
    width: 71rem;
    margin-top: 4rem;
}
.text {
    font-size: 4.7rem;
}

    .contact_form {
        height: 33rem;
        width: 70rem;
        margin-left: 2rem;
    }

    .map {
        margin-left: 10%;
    }
    .footer {
        margin-top: 3rem;
    }



    @keyframes hairSpin {

        from,
        to {
            left: 6rem;
            top: 136rem;
        }

        25% {
            left: 42rem;
            top: 136rem;
        }

        50% {
            left: 42rem;
            top: 175rem;
        }

        75% {
            left: 6rem;
            top: 175rem;
        }
    }

    @keyframes beardSpin {

        from,
        to {
            left: 42rem;
            top: 100.4rem;
        }

        25% {
            left: 42rem;
            top: 139.4rem;
        }

        50% {
            left: 6rem;
            top: 139.4rem;
        }

        75% {
            left: 6rem;
            top: 100.4rem;
        }
    }

    @keyframes shaveSpin {

        from,
        to {
            left: 6rem;
            top: 104rem;
        }

        25% {
            left: 6rem;
            top: 65rem;
            ;
        }

        50% {
            left: 42rem;
            top: 65rem;
        }

        75% {
            left: 42rem;
            top: 104rem;
        }
    }

    @keyframes straighSpin {

        from,
        to {
            left: 42rem;
            top: 68.5rem;
        }

        25% {
            left: 6rem;
            top: 68.5rem;
        }

        50% {
            left: 6rem;
            top: 29.5rem;
        }

        75% {
            left: 42rem;
            top: 29.5rem;

        }
    }
}